@model List<Sehir>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1 class="h1 font-weight-bolder text-center">Şehirler</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr class="font-weight-bolder">
            <td>Plaka</td>
            <td>Şehir Adı</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var sehir in Model)
        {
            <tr>
                <td>@sehir.Id</td>
                <td>@sehir.SehirAd</td>
            </tr>
        }
    </tbody>
</table>
